<!-- <p>footer works!</p> -->
<!-- <app-products></app-products> -->
<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>About Us</h4>
          <p>Miracle Software Systems is a leading provider of IT consulting and software services to enterprise customers around the world.</p>
        </div>
        <div class="col-md-4">
          <h4>Contact Us</h4>
          <p>Email: info@miraclesoft.com</p>
          <p>Phone: 123-456-7890</p>
        </div>
        <div class="col-md-4">
          <h4>Follow Us</h4>
          <p><i class="fab fa-facebook"></i> <i class="fab fa-twitter"></i> <i class="fab fa-linkedin"></i></p>
        </div>
      </div>
    </div>
  </footer>
  