<!-- <p>about works!</p> -->
<app-header></app-header>
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>About Us</h1>
        <p>We are a leading online shopping platform that provides high quality products at affordable prices.</p>
        <p>Our mission is to make online shopping easy and convenient for everyone. We are committed to providing a seamless and enjoyable shopping experience for our customers.</p>
      </div>
    </div>
  </div>

<app-footer></app-footer>