.container {
    margin-top: 50px;
    background-color: #f8f9fa; /* set background color */
    // background-image: url('https://img.freepik.com/free-photo/grunge-paint-background_1409-1337.jpg'); /* set background image */
    background-repeat: no-repeat; /* prevent background image from repeating */
    background-size: cover; /* scale the image to cover the entire container */
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    color: rgb(3, 3, 3); /* set text color */
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: rgb(3, 0, 3); /* set text color */
  }
  