<div class="size">
  <div [formGroup]="registrationForm">
    <h2>Registration Form</h2>
    <div class="color">
      <b><label for="uname"><i class="pi pi-user icon"></i> First Name:</label></b>
      <input type="text" id="fname" formControlName="fname" required pInputText />
      <b> <label for="uname"><i class="pi pi-user icon"></i> Last Name:</label></b>
      <input type="text" id="lname" formControlName="lname" required pInputText />
      <b> <label for="uname"><i class="pi pi-user icon"></i> User Name:</label></b>
      <input type="text" id="uname" formControlName="uname" required pInputText />
      <b><label for="email"><i class="pi pi-envelope icon"></i> Email:</label></b>
      <input type="email" id="email" formControlName="email" required pInputText />
      <b> <label for="password"> <i class="pi pi-key icon"></i> Password:</label></b>
      <input type="password" id="password" formControlName="password" required pInputText /><br>

      <!-- <b><label for="address"><i class="pi pi-envelope icon"></i> Address:</label></b>
      <input type="email" id="email" formControlName="address" required pInputText />
      <b><label for="phone"><i class="pi pi-envelope icon"></i> Phone Number:</label></b>
      <input type="text" id="email" formControlName="phone" required pInputText /> -->
      <b><label for="address"><i class="pi pi-home icon"></i> Address:</label></b>
<input type="email" id="address" formControlName="address" required pInputText />

<b><label for="phone"><i class="pi pi-phone icon"></i> Phone Number:</label></b>
<input type="text" id="phone" formControlName="phone" required pInputText />

      <div style="display: flex;justify-content: center">
      <p-button label="Registration" (click)="onSubmit()"></p-button>&nbsp;&nbsp;
      <p-button [routerLink]="'/login'" label="Already a User?"></p-button>
    </div>
    </div>
  </div>
</div>