.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
   
}

.card-container {
  width: 300px;
  height: 450px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(63, 199, 81, 0.2);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  
}

.card {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.card img {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
 
}

// .addtocart{
  
//   max-hight:1px;
//   background-color: #2eeb35;
//   color: rgb(11, 224, 29);
//   border-radius: 5px;
// }

.card h6,
.card h3, 
.card h4,
.card p {
  margin: 10px;
 
}

.card button {
  background-color: #12df19;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 20px;
 
}

.card button:hover {
  background-color: #1db822;
}

.progress-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}
.loading-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  
}



.custom-spinner .p-progress-spinner {
  width: 50px;
  height: 50px;

}

.custom-spinner .p-progress-spinner svg circle {
  stroke: #943e81;
  stroke-width: 4;
  fill: transparent;
  animation: rotate 1s linear infinite;
 
}

.fas
{
  
}