

<app-header></app-header>
<div style="display: flex;justify-content: end;">
<form [formGroup]="searchForm" (ngSubmit)="searchProduct()">
    <input pInputText  type="text"  formControlName="searchField" placeholder="Search category">&nbsp;&nbsp;
  <p-button type="submit"><i class="fa fa-search"></i> &nbsp;Search</p-button>
  <!-- <p-button class="btn" type="submit">
    <i class="fas fa-shopping-cart me-1"></i> Cart<span class="badge bg bg-success">{{count}}</span>
  
  </p-button> -->
</form>
</div>
<p-progressSpinner class="progress-spinner" *ngIf="isLoading"></p-progressSpinner>
<div *ngIf="isLoading" class="loading-message">Loading...</div>
<div *ngIf="!isLoading" class="product-container">
  <div class="card-container" *ngFor="let product of products">
    <div class="card">
      <img [src]="'data:image/png;base64,' + product.image" alt="Array-img">
      <h3> {{product.productname}}</h3>
      <h3>{{product.product}}</h3>
      <h3>₹{{ product.price }}</h3>
      <h3> {{product.producttype}}</h3>
      
      <!-- <h3>{{product.color}}</h3> -->
      
     <!-- <div class="addtocart"> -->
      <p-button class="btn-dark" (click)=addtocart(product.productid) >Add to cart
      </p-button>
      <!-- </div> -->
    </div>
  </div>
</div>

<!-- <app-header></app-header>

 <div style="display: flex;justify-content: end;">
  <form [formGroup]="searchForm" (keyup)="searchProduct()">
    <input pInputText type="text" formControlName="searchField" placeholder="Search category">&nbsp;&nbsp;
    <button pButton type="submit">Search</button>
    <button class="btn btn-outline-light" type="submit">
      <div>
        <i class="fa fa-search"></i> 
        <i class="fas fa-shopping-cart me-1"></i> Cart<span class="badge bg bg-success">{{count}}</span>
      </div>
    </button>
  </form>
</div> 

<br>
<p-progressSpinner class="progress-spinner" *ngIf="isLoading"></p-progressSpinner>
<div *ngIf="isLoading" class="loading-message">Loading...</div>
<div class="container-fluid product-container" *ngIf="!isLoading">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let product of products">
      <div class="card h-100">
        <a href="" [routerLink]="'/Cart'"><img [src]="product.image" class="card-img-top" alt="No Image" style="height: 300px; object-fit: contain;"></a>
        <div class="card-body">
          <p class="card-text">Product Price : ₹{{ product.price }}</p>
          <p class="card-text">Title :{{product.title}}</p>
          <p class="card-text">Category :{{product.category}}</p>
          <p class="card-text">Color :{{product.color}}</p>
          <p class="card-text">Rating :{{ product.rating.rate}}</p>
          <p class="card-text">Available : {{product.rating.count}}</p>
        </div>
        <div class="card-footer" style="display: flex;justify-content: space-around">
          <p-button  (click)=addtocart(product.productid) label="Add to cart"></p-button>&nbsp;
          <p-button  (click)=addtocart(product.productid) label="Cancel"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>    -->
